<apex:page showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0" applyHtmlTag="false" cache="false" controller="AccountDocumentController">
    <apex:composition template="EDGE_Site_Template">
        <apex:define name="title">
            <title>{!$Label.CM_Community_Tab_AccountDocument}</title>
        </apex:define>
        <apex:define name="navigation">
               <c:EDGE_Site_Navigation menuName="documentCollaboration" />
            </apex:define>
        <apex:define name="body">
             <div class="container">
              <div class="row">

                <!-- content - capture  -->
                <div class="capture">
                  <div class="col-xs-12 col-md-12 mt85">
                    <h2 class="page-header">{!$Label.CM_Community_Tab_AccountDocument}</h2>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="{!if(tabAssign=='docIn', 'active', '')}"><a href="#docIn" aria-controls="docIn" role="tab" data-toggle="tab">{!$Label.CM_Community_Tab_DocumentInbox}</a></li>
                        <li role="presentation" class="{!if(tabAssign=='docOut', 'active', '')}"><a href="#docOut" aria-controls="docOut" role="tab" data-toggle="tab">{!$Label.CM_Community_Tab_DocumentOutbox}</a></li>
                     </ul>
                      <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane col-md-12 {!if(tabAssign=='docIn', 'active', '')}" id="docIn">
                           <div class="col-xs-12 col-md-12">
                           <apex:form id="theInboxForm">
                               <apex:actionFunction name="filterRecord" action="{!filterInbox}" rerender="theInboxForm" />
				            <div class="iblk block">
				                <div class="col-sm-3 col-md-3 pull-right" style="width: 380px !important;top: 0px;">
						                <div class="input-group">
						                    <apex:inputText value="{!docNameSearch}" id="docSearchInputId" styleClass="form-control" 
						                    	html-placeholder="{!$Label.CM_Placeholder_Acount_Doccument_Inbox}"/>
						                    <div class="input-group-btn">
						                        <button class="btn btn-default" onclick="filterRecord();return false;"><i class="glyphicon glyphicon-search"></i></button>
						                    </div>
						                </div>
						        	</div>
						        <div class="col-xs-12 col-md-12 mt15">
				                <apex:outputText rendered="{!ingoingPgCtlCTM_genericList.size>0}">
                                <table class="table table-edge" cellspacing="0" width="100%" id="receivablesInv">
                                  <thead class="bg-grey text-uppercase">
                                    <tr>
                                      <th>{!$Label.CM_FieldLabel_Attachments_Action}</th>
                                      <th>{!$Label.CM_FieldLabel_AccountDocumentComm_DocumentName}</th>
                                      <th>{!$Label.CM_FieldLabel_AccountDocument_CreatedBy}</th>
                                      <th>{!$Label.CM_FieldLabel_AccountDocumentComm_CreatedDate}</th>
                                      <th>{!$Label.CM_FieldLabel_Attachments_LastModified}</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <apex:repeat value="{!ingoingPgCtlCTM_genericList}" var="doc">
                                        <tr>
                                          <td><apex:outputLink value="javascript:void(0);" onclick="window.parent.parent.parent.location = '{!IF($Site.SiteID != null,URLFOR($Site.BaseCustomUrl+'/'+SUBSTITUTE($Site.Prefix, '/', '')),'')}/EDGE_DocumentDetail?id={!doc.encodedDocId}&tab=docIn&page=View'" style="text-decoration: underline;color: blue;">{!$Label.CM_Community_Link_Detail}</apex:outputLink></td>
                                          <td><apex:outputLink value="/servlet/servlet.FileDownload?file={!doc.attachmentURL}">{!doc.accountDoc.Name__c}</apex:outputLink> </td>
                                          <td>{!doc.accountDoc.CreatedBy.Name}</td>
                                          <td>{!doc.createdDate}</td>
                                          <td>{!doc.modifiedDate}</td>
                                        </tr>
                                    </apex:repeat>
                                  </tbody>
                                </table>
                                <script type="text/javascript">
                                $(document).ready( function () {
                                    $('#receivablesInv').DataTable({
                                        "order": [[ 3, "desc" ]],
                                         "columnDefs": [{ type: 'datetime-us-flex', targets: [3,4] }],
                                        "language": {
                                        		"decimal": "",
                                        		"emptyTable": "{!$Label.CM_Edge_DataTable_NoDataAvailable}",
                                        		"info": "{!$Label.CM_Edge_Pagination_Showing} _START_ {!$Label.CM_Community_Text_To} _END_ {!$Label.CM_Community_Text_Of} _TOTAL_ {!$Label.CM_Edge_Pagination_Entries}",
                                        		"infoEmpty": "{!$Label.CM_Edge_DataTable_Showing0Entries}",
                                        		"infoFiltered": "({!$Label.CM_Edge_DataTable_FilteredFrom} _MAX_ {!$Label.CM_Edge_DataTable_TotalEntries})",
                                        		"infoPostFix": "",
                                        		"thousands": ",",
                                        		"lengthMenu": "{!$Label.CM_Edge_Pagination_Show} _MENU_ {!$Label.CM_Edge_Pagination_Entries}",
                                        		"loadingRecords": "{!$Label.CM_Edge_DataTable_Loading}",
                                        		"processing": "{!$Label.CM_Edge_DataTable_Processing}",
                                        		"search": "{!$Label.CM_EDGE_CustomLookUp_Search_Button}:",
                                        		"zeroRecords": "{!$Label.CM_Edge_DataTable_NoRecordFound}",
                                        		"paginate": {
                                        		"first": "{!$Label.CM_Community_Button_First}",
                                        		"last": "{!$Label.CM_Community_Button_Last}",
                                        		"next": "{!$Label.CM_Community_Button_Next}",
                                        		"previous": "{!$Label.CM_Community_Button_Previous}"
                                        		},
                                        		"aria": {
                                        		"sortAscending": ": {!$Label.CM_Edge_DataTable_ActivateSortASC}",
                                        		"sortDescending": ": {!$Label.CM_Edge_DataTable_ActivateSortDESC}"
                                        		}
                                    		}
                                        });
                                  } );
                                /*End Events Handler*/
                                //statusValue, currencyValue
                                
                                
                                    var dateLocale = '{!localeDate}';
                                    jQuery.extend( jQuery.fn.dataTableExt.oSort, {
                                    "datetime-us-flex-pre": function ( a ) {
                                      debugger;
                                      // If there's no slash, then it's not an actual date, so return zero for sorting
                                      if(a.indexOf('/') === -1) {
                                          return '0';
                                      } else {
                                        // Set optional items to zero
                                        
                                        var tt = getDateFormatForSort({!localeDateRegx},a);
                                        return tt;         
                                      }      
                                    },
                                    "datetime-us-flex-asc": function ( a, b ) {
                                      return a - b;
                                    },
                                    "datetime-us-flex-desc": function ( a, b ) {
                                      return b - a;
                                    }
                                   });
                                
                                
                            </script>
                              </apex:outputText>
                                <apex:outputPanel rendered="{!ingoingPgCtlCTM_genericList.size == 0}">
            						<br />
            						<center><h2>{!$Label.CM_Community_Text_NoRecordsToDisplay}</h2></center>
            					</apex:outputPanel>
            					</div>
				            </div>
				            </apex:form>
                           </div> 
                        </div>
                        <div role="tabpanel" class="tab-pane col-md-12 {!if(tabAssign=='docOut', 'active', '')}" id="docOut">
                           <div class="col-xs-12 col-md-12">
                                <apex:form >
                                    <div class="iblk block">
                                <center>
                                    <apex:actionRegion >
    					                    <c:DragDrogDocumentUpload parentId2="{!accId}"
    					                        multiple="true" sourcePage="{!sourcePage}" />
    					                </apex:actionRegion>
                                </center>
                                </div>
                                </apex:form>
                                <apex:form id="theOutboxForm">
                                    <apex:actionFunction name="deleteAttachment" action="{!customDelete}" rerender="theOutboxForm" />
                                <div class="iblk block">
    				                <apex:outputText rendered="{!outgoingPgCtlCTM_genericList.size>0}">
    				                    <div style="position: absolute;width:40%">
    				            				<apex:commandButton id="deleteBtn" value="{!$Label.CM_Community_Button_Delete}" rerender="theOutboxForm" 
    				            					style="float:right; display:none;" styleclass="btn btn-yellow" onclick="return deleteInputs();"  />
    				            			</div>
    				            	<div class="spacer-sm iblk"/>
                                    <table class="table table-edge" cellspacing="0" width="100%" id="theOutboxTable">
                                      <thead class="bg-grey text-uppercase">
                                        <tr>
                                          <th><input type="checkbox" id="outputChkDoc" onclick="doToggleDelete(this,'deleteInputOutgoingChkDoc');"/>&nbsp;&nbsp;{!$Label.CM_FieldLabel_Attachments_Action}</th>
                                          <th>{!$Label.CM_FieldLabel_AccountDocumentComm_DocumentName}</th>
                                          <th>{!$Label.CM_FieldLabel_AccountDocument_CreatedBy}</th>
                                          <th>{!$Label.CM_FieldLabel_AccountDocumentComm_CreatedDate}</th>
                                          <th>{!$Label.CM_FieldLabel_Attachments_LastModified}</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <apex:repeat value="{!outgoingPgCtlCTM_genericList}" var="doc">
                                            <tr>
                                              <td><apex:inputCheckbox value="{!doc.isSelected}" id="deleteInputOutgoingChkDoc" rendered="{!$User.Id == doc.accountDoc.CreatedById}" onclick="showDeleteBtns();" styleClass="deleteInputChk" title="my outgoing"/>
                                                  &nbsp;&nbsp;<apex:outputLink value="javascript:void(0);" onclick="window.parent.parent.parent.location = '{!IF($Site.SiteID != null,URLFOR($Site.BaseCustomUrl+'/'+SUBSTITUTE($Site.Prefix, '/', '')),'')}/EDGE_DocumentDetail?id={!doc.encodedDocId}&tab=docOut&page=View'" style="text-decoration: underline;color: blue;">{!$Label.CM_Community_Link_Detail}</apex:outputLink>
                                              </td>
                                              <td><apex:outputLink value="/servlet/servlet.FileDownload?file={!doc.attachmentURL}">{!doc.accountDoc.Name__c}</apex:outputLink> </td>
                                              <td>{!doc.accountDoc.CreatedBy.Name}</td>
                                              <td>{!doc.createdDate}</td>
                                              <td>{!doc.modifiedDate}</td>
                                            </tr>
                                        </apex:repeat>
                                      </tbody>
                                    </table>
                                    <script type="text/javascript">
                                    $(document).ready( function () {
                                        $('#theOutboxTable').DataTable({
                                            "order": [[ 3, "desc" ]],
                                            "columnDefs": [{ type: 'datetime-us-flex', targets: [3,4] }],
                                            "language": {
                                        		"decimal": "",
                                        		"emptyTable": "{!$Label.CM_Edge_DataTable_NoDataAvailable}",
                                        		"info": "{!$Label.CM_Edge_Pagination_Showing} _START_ {!$Label.CM_Community_Text_To} _END_ {!$Label.CM_Community_Text_Of} _TOTAL_ {!$Label.CM_Edge_Pagination_Entries}",
                                        		"infoEmpty": "{!$Label.CM_Edge_DataTable_Showing0Entries}",
                                        		"infoFiltered": "({!$Label.CM_Edge_DataTable_FilteredFrom} _MAX_ {!$Label.CM_Edge_DataTable_TotalEntries})",
                                        		"infoPostFix": "",
                                        		"thousands": ",",
                                        		"lengthMenu": "{!$Label.CM_Edge_Pagination_Show} _MENU_ {!$Label.CM_Edge_Pagination_Entries}",
                                        		"loadingRecords": "{!$Label.CM_Edge_DataTable_Loading}",
                                        		"processing": "{!$Label.CM_Edge_DataTable_Processing}",
                                        		"search": "{!$Label.CM_EDGE_CustomLookUp_Search_Button}:",
                                        		"zeroRecords": "{!$Label.CM_Edge_DataTable_NoRecordFound}",
                                        		"paginate": {
                                        		"first": "{!$Label.CM_Community_Button_First}",
                                        		"last": "{!$Label.CM_Community_Button_Last}",
                                        		"next": "{!$Label.CM_Community_Button_Next}",
                                        		"previous": "{!$Label.CM_Community_Button_Previous}"
                                        		},
                                        		"aria": {
                                        		"sortAscending": ": {!$Label.CM_Edge_DataTable_ActivateSortASC}",
                                        		"sortDescending": ": {!$Label.CM_Edge_DataTable_ActivateSortDESC}"
                                        		}
                                    		}
                                            });
                                      } );
                                      
                                      
                                    var dateLocale = '{!localeDate}';
														        jQuery.extend( jQuery.fn.dataTableExt.oSort, {
														        "datetime-us-flex-pre": function ( a ) {
														          debugger;
														          // If there's no slash, then it's not an actual date, so return zero for sorting
														          if(a.indexOf('/') === -1) {
														              return '0';
														          } else {
														            // Set optional items to zero
														            
														            var tt = getDateFormatForSort({!localeDateRegx},a);
														            return tt;         
														          }      
														        },
														        "datetime-us-flex-asc": function ( a, b ) {
														          return a - b;
														        },
														        "datetime-us-flex-desc": function ( a, b ) {
														          return b - a;
														        }
														       });
                                      
                                      
                                      
                                      function deleteInputs(){
                        			        if(confirm("{!$Label.CM_Alert_AreYouSureYouWantToDeleteThisRecord}")){
                        			            deleteAttachment();
                        			        }
                        			        return false; 
                        			    }
                                      function doToggleDelete(ele, checkBoxId){
                        			        if(ele.checked){
                        			            $('input[id$="'+checkBoxId+'"]').prop('checked', true);
                        			        }else{
                        			            $('input[id$="'+checkBoxId+'"]').prop('checked', false);
                        			        }
                        			        showDeleteBtns();
                        			    }
                        			    function showDeleteBtns(){
                        			    	
                        			        var isShowDelete = false;
                        			        if($('input:checkbox.deleteInputChk:checked').length>0){
                        			            isShowDelete = true;
                        			        }
                        			        if(isShowDelete){
                        			            $('input[id$="deleteBtn"]').show();
                        			        }else{
                        			            $('input[id$="deleteBtn"]').hide();
                        			        }
                        			    }
                                    /*End Events Handler*/
                                    //statusValue, currencyValue
                                </script>
                                  </apex:outputText>
                                    <apex:outputPanel rendered="{!outgoingPgCtlCTM_genericList.size == 0}">
                						<br />
            						<center><h2>{!$Label.CM_Community_Text_NoRecordsToDisplay}</h2></center>
                					</apex:outputPanel>
                					</div>
                            </apex:form>
                           </div> 
                        </div>
                    </div>
                  </div>
                 </div>
              </div>
             </div><!-- /container -->
    <c:DocumentUploadModalPopUp />
	<c:DocumentDragUploadPopUp />
        </apex:define>
    </apex:composition>
</apex:page>