<apex:page showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0" applyHtmlTag="false" >

    <apex:composition template="EDGE_Site_Template">

        <apex:define name="title">
            <title>{!$Label.CM_EDGE_Error_Title}</title>
        </apex:define>
        <apex:define name="navigation">
               <c:EDGE_Site_Navigation />
            </apex:define>

        <apex:define name="body">

        <div class="container">
          <div class="row">

            <div class="invoice-detail">
              <div class="col-xs-12 col-md-12 mt85">

                <h2 class="page-header">{!$Label.CM_EDGE_Error_Title}</h2>
                <div class="block" style="height:150px;">
		    			<div class="embed-responsive embed-responsive-16by9">
								 {!$Label.CM_EDGE_Error_Message}
		            	</div>
                </div>


              </div>
            </div>
          </div>
        </div>

        </apex:define>

    </apex:composition>

</apex:page>