<apex:page showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0" applyHtmlTag="false" >
    
    <apex:composition template="EDGE_Site_Template"> 
        
        <apex:define name="title">
            <title>Net Exposure</title>
        </apex:define>
        
        <apex:define name="body">

        <div class="container">
          <div class="row">
            <!-- content - net exposure  -->
            <div class="net-exposure">
              <div class="col-xs-12 col-md-12 mt85">
                
                <h2 class="page-header">Net Exposure</h2>
                <div class="iblk block">
                  <h3 class="block-header">Charts</h3>
                  <div class="col-lg-12" id="chart1">
                  	pie chart 1
                  </div>               
                </div>

                <div class="iblk block">
                  <h3 class="block-header">Net Exposure - Month</h3>
                  <div class="col-lg-12" id="chart2">
                  	<div class="iblk">
                  		<div class="col-md-3 col-sm-6 col-xs-12"> 
			    			<label class="control-label " for="currency">
						    Currency
					      	</label>
				    		<select class="form-control">
							  <option>GBP</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
				    	</div>
				    	<div class="col-md-3 col-sm-6 col-xs-12"> 
			    			<label class="control-label " for="date-range">
						    Date Range
					      	</label>
				    		<select class="form-control">
							  <option>1/1/16 - 1/15/16</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
				    	</div>
                  	</div>
                  	<div class="iblk mt30">
                  		chart 2
                  	</div>
                  </div>
                </div>

                <div class="iblk block">
                  <h3 class="block-header">Table</h3>
                  <div class="col-lg-12" id="chart2">
                  	<table class="table table-edge" cellspacing="0" width="100%" id="net-exposure">
                      <thead class="bg-grey text-uppercase">
                        <tr>
                          <th>Type</th>
                          <th>Jan 16</th>
                          <th>Feb 16</th>
                          <th>Mar 16</th>
                          <th>Apr 16</th>
                          <th>May 16</th>
                          <th>Jun 16</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Cash Inflows</td>
                          <td>12345</td>
                          <td>2345</td>
                          <td>3456</td>
                          <td>23</td>
                          <td>856</td>
                          <td>8899</td>
                          <td>8809038</td>
                        </tr>
                        <tr>
                          <td>Forcast</td>
                          <td>5252</td>
                          <td>622</td>
                          <td>11334</td>
                          <td>88</td>
                          <td>977663</td>
                          <td>2342</td>
                          <td>7762626</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        
        <script type="text/javascript">
          // ------------------------------
          // table initialization
          // ------------------------------
          $(document).ready( function () {
			  $('#net-exposure').dataTable( {
			    "bPaginate": false
			  } );
			} );
        </script>
        </apex:define>
            
    </apex:composition>
                
            
    
</apex:page>