<apex:page showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0" applyHtmlTag="false" id="pg" cache="false" action="{!searchInvoice}">
    
    <style>
         .setMargin{
              margin-left: -100px !important;
              margin-top: 50px !important;
         }
    </style>
    
    <apex:composition template="EDGE_Site_Template">
        <apex:define name="title">
            <title>Multi-Line Order</title>
        </apex:define>
        <apex:define name="navigation">
           <c:EDGE_Site_Navigation menuName="invoiceManagement" />
        </apex:define>
        
        <apex:define name="body">                    
        
        <div class="container-fluid side setMargin">
          <div class="row">
              
            <div class="invoice-mgt">
              <div class="col-xs-12 col-md-11 col-md-offset-1 mt85" name="summary" id="summary">                
                
                <div class="iblk block" name="payables" id="payables">
                  <c:EDGE_MultiLineOrderComponent requestTypeName="Payables"/>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        </apex:define>
    </apex:composition>
</apex:page>