<apex:page showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0" applyHtmlTag="false" controller="Edge_Activity_DashboardCtrl">

    <apex:composition template="EDGE_Site_Template">

        <apex:define name="title">
            <title>{!$Label.CM_EDGE_Activity_DashBoard_Title}</title>
        </apex:define>
        <apex:define name="navigation">
               <c:EDGE_Site_Navigation menuName="Home" />
            </apex:define>

        <apex:define name="body">

        <style>
         .setMargin{
              margin-left: -100px !important;
         }
         .ui .first-nav{
              z-index: 101;
         }
         
         .navbar.navbar-inverse.second-nav.navbar-fixed-top{
            z-index: 100;
         }
         ul.dropdown-menu.dropdown-menu-right {
            margin-top: 2%;
        }
        
        </style>
        
        <div class="container-fluid side">
          <div class="row">
            <!-- sidebar -->
            <div class="col-md-1 sidebar" > <!-- added style for I-237556 -->
              <ul class="nav nav-sidebar">
                <li class="active" id="SummarLink">
                  <a id="link1" href="#summary"><i class="fa fa-list"></i><br/>{!$Label.CM_EDGE_Activity_DashBoard_Summary} <span class="sr-only">({!$Label.CM_EDGE_Activity_DashBoard_current})</span></a>
                </li>
                <li id="PayableLink"><a id="link2" href="#payables"><i class="fa fa-file-o"></i><br/>{!$Label.CM_EDGE_Activity_DashBoard_Payables}</a></li>
                <li id="RecievableLink"><a id="link3" href="#receivables"><i class="fa fa-file-o"></i><br/>{!$Label.CM_EDGE_Activity_DashBoard_Receivables}</a></li>
                <apex:variable var="c" value="{!canShowHoldingBalance}" rendered="{!canShowHoldingBalance}" >
                   <li id="holding"><a id="link4" href="#cashholding"><i class="fa fa-university"></i><br/>{!$Label.CM_EDGE_Activity_DashBoard_Holding}</a></li></apex:variable>
              </ul>
            </div>

            <!-- content - dashboard  -->
            <div class="dashboard">
              <!-- summary -->
              <div class="col-xs-12 col-md-11 col-md-offset-1 summary" name="summary" id="summary" >
                <div class="last-visit"><span>{!$Label.CM_EDGE_Activity_DashBoard_Last_visit} &nbsp;
                    <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
                        <apex:param value="{!lastlogin}" />
                    </apex:outputText>
                    </span></div>
                  <div class="col-sm-12">
                    <h2 class="page-header">{!$Label.CM_EDGE_Activity_DashBoard_Title}</h2>
                    <div class="row">
                      <div class="col-xs-12 col-md-4">
                        <c:Edge_Activity_Dashboard_PendingAlert />
                        <!-- div class="block notification">
                          <span class="time">10m</span>
                          <div class="msg">
                            <div class="user">
                              <img src="https://s3.amazonaws.com/uifaces/faces/twitter/uxceo/73.jpg" class="img-circle"/>
                            </div>
                            <span>David sent you a new invoice:</span>
                            <span>October 2015 invoice</span>
                            <div class="actions">
                              <button class="btn btn-yellow">View</button>
                              <button class="btn btn-light">Next</button>
                            </div>
                          </div>

                        </div-->
                      </div>
                      <div class="col-xs-12 col-md-8">
                        <!-- <div class="flex-horizontal quick-info"> -->
                        <c:Edge_Activity_Dashboard_MyActions />
                      </div>
                    </div>
                  </div>
              </div> <!-- /summary -->

              <!-- my invoices -->
              <div class="col-xs-12 col-md-11 col-md-offset-1 mt15 invoice">
                      <c:Edge_Activity_Dashboard_MyInvoices /> 
              </div><!-- /my invoices -->

              <apex:variable var="c" value="{!canShowHoldingBalance}" rendered="{!canShowHoldingBalance}" >
                <div class="col-xs-12 col-md-11 col-md-offset-1 cashholding" name="cashholding" id="cashholding">
                    <c:Edge_Activity_Dashboard_Holdings />
                  </div><!-- /my holdings -->
              </apex:variable>

            </div> <!-- /content - dashboard  -->
          </div> <!-- /row -->
        </div><!-- /container -->

        <c:EDGE_Modal_Make_Payment />

        </apex:define>

    </apex:composition>



<script>

$( window ).scroll(function() {
    var docViewTop = $(window).scrollTop();
    var docViewBottom = docViewTop + $(window).height();
        
    var elemTop = $('[id$=payableLabel]').offset().top;
    var elemBottom = elemTop + $('[id$=payableLabel]').height();
    
    var elemTop1 = $('[id$=recievableLabel]').offset().top;
    var elemBottom1 = elemTop1 + $('[id$=recievableLabel]').height();
    
    var elemTop2;
    var elemBottom2;
    
     if({!canShowHoldingBalance}){
           elemTop2 = $('[id$=HoldingLabel]').offset().top;
           elemBottom2 = elemTop1 + $('[id$=HoldingLabel]').height();
     }
   
    
      
    var elemTop3 = $('[id$=summary]').offset().top;
    var elemBottom3 = elemTop3 + $('[id$=summary]').height();
    $('.nav.navbar-nav li:first').addClass('active');
    
  
    if(((elemBottom3 <= docViewBottom) && (elemTop3 >= docViewTop))){
                $('[id$=SummarLink]').addClass('active');
                $('[id$=PayableLink]').removeClass('active');
                $('[id$=RecievableLink]').removeClass('active');
                $('[id$=holding]').removeClass('active');
                 $('[id$=link3]').blur();
                $('[id$=link2]').blur();
                $('[id$=link4]').blur();

    }
    else if(((elemBottom <= docViewBottom) && (elemTop >= docViewTop))){
                $('[id$=PayableLink]').addClass('active');
                $('[id$=RecievableLink]').removeClass('active');
                $('[id$=holding]').removeClass('active');
                $('[id$=SummarLink]').removeClass('active');
                $('[id$=link1]').blur();
                $('[id$=link3]').blur();
                $('[id$=link4]').blur();
    }
    else if(((elemBottom1 <= docViewBottom) && (elemTop1 >= docViewTop))){
                $('[id$=RecievableLink]').addClass('active');
                 $('[id$=PayableLink]').removeClass('active');
                $('[id$=holding]').removeClass('active');
                $('[id$=SummarLink]').removeClass('active');
                $('[id$=link1]').blur();
                $('[id$=link2]').blur();
                $('[id$=link4]').blur();
    }
    
      else if(((elemBottom2 <= docViewBottom) && (elemTop2 >= docViewTop))){
                 $('[id$=holding]').addClass('active');
                  $('[id$=PayableLink]').removeClass('active');
                $('[id$=RecievableLink]').removeClass('active');
                $('[id$=SummarLink]').removeClass('active');
                 $('[id$=link1]').blur();
                $('[id$=link2]').blur();
                $('[id$=link3]').blur();
    }

});
</script>


</apex:page>