<apex:page id="thePage" sidebar="false" controller="CommunityLoginController" showheader="false" docType="html-5.0" applyHtmlTag="false" standardStylesheets="false" cache="false" action="{!Init}" language="{!selectedLanguage}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" type="image/png" href="{!$Resource.EdgePage_IconFlag}"/>
    <title>WU EDGE</title>
    <!-- Custom styles for this template -->
    <apex:stylesheet value="{!URLFOR($Resource.EDGE_CommunityLogin, 'Frontend/Styles/ie10-viewport-bug-workaround.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.EDGE_CommunityLogin, 'Frontend/Styles/bootstrap.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.EDGE_CommunityLogin, 'styles.css')}" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <style>
        tr{
            height: 16px !important;
        }
        h5{
            font-weight:600;
        }
    </style>
</head>
<body>
    <nav class="logo">
        <img src="{!URLFOR($Resource.EDGE_CommunityLogin, 'Frontend/Images/logo.png')}"/>
        <span style="color: white; float: right; margin-right: 25px; margin-top: 32px; font-family: arial; position: relative;">
        <apex:form >
            {!$Label.CM_Community_Field_Label_Language}
           <apex:selectList size="1" value="{!selectedLanguage}"
                onchange="chngLang();" styleClass="form-control">
                <apex:selectOptions value="{!languageOptions}" />
            </apex:selectList>
            <apex:actionFunction name="chngLang" action="{!changeLanguage}" rerender="loginForm"/></apex:form>
        </span>
    </nav>
    <div class="container-fluid globe">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="welcome">
                    <!--<img src="Frontend/Images/welcome.png" />-->
                    <h2><apex:outputText value="{!$Label.CM_WelcomText_1_Login_Page}" escape="false"/></h2>
                    <p><apex:outputText value="{!$Label.CM_WelcomText_2_Login_Page}"/></p>
                </div>
                <div class="row shadow">
                  <!--<div style="position: relative;top: 231px;left:200px;z-index: 5;color: red;font-weight: bolder;" > </div>-->
                    <div class="col-md-4 lhs">
                        <div class="edge">
                          <br/>
                          <br/>
                            <img src="{!URLFOR($Resource.EDGE_CommunityLogin, 'Frontend/Images/edge.png')}"/>
                        </div>
                    </div>
                    <div class="col-md-8 rhs">

                        <apex:form styleclass="form-horizontal signin" id="loginForm" html-autocomplete="off">
                        <a href="#" value="Back" onClick="javascript:window.history.back();">{!$Label.CM_EDGE_BacktoLoginPage}</a>
                        <h4>{!$Label.CM_EDGE_LoginHelpTitle}</h4>

                        {!$Label.CM_EDGE_LoginHelpSummary}

                        <table style="width:100%">
                          <thead>
                          <tr>
                            <th><h5>{!$Label.CM_EDGE_TableTitle1}</h5></th>
                            <th><h5>{!$Label.CM_EDGE_TableTitle2}</h5></th>
                          </tr>
                        </thead>
                          <tbody style="padding-top:10px;">
                          <tr>
                            <td>{!$Label.CM_EDGE_LoginHelpCountry1}</td>
                            <td> <a  href="mailto:{!$Label.CM_EDGE_LoginHelpEmail1}" > {!$Label.CM_EDGE_LoginHelpEmail1} </a> </td>
                          </tr>
                          <tr>
                            <td>{!$Label.CM_EDGE_LoginHelpCountry2}</td>
                            <td> <a  href="mailto:{!$Label.CM_EDGE_LoginHelpEmail2}" > {!$Label.CM_EDGE_LoginHelpEmail2} </a> </td>
                            <!--<td>{!$Label.CM_EDGE_LoginHelpEmail2}</td>-->
                          </tr>
                          <tr>
                            <td>{!$Label.CM_EDGE_LoginHelpCountry3}</td>
                            <td> <a  href="mailto:{!$Label.CM_EDGE_LoginHelpEmail3}" > {!$Label.CM_EDGE_LoginHelpEmail3} </a> </td>
                            <!--<td>{!$Label.CM_EDGE_LoginHelpEmail3}</td>-->
                          </tr>
                          <tr>
                            <td>{!$Label.CM_EDGE_LoginHelpCountry4}</td>
                            <td> <a  href="mailto:{!$Label.CM_EDGE_LoginHelpEmail4}" > {!$Label.CM_EDGE_LoginHelpEmail4} </a> </td>
                            <!--<td>{!$Label.CM_EDGE_LoginHelpEmail4}</td>-->
                          </tr>
                          <tr>
                            <td>{!$Label.CM_EDGE_LoginHelpCountry5}</td>
                            <td> <a  href="mailto:{!$Label.CM_EDGE_LoginHelpEmail5}" > {!$Label.CM_EDGE_LoginHelpEmail5} </a> </td>
                            <!--<td>{!$Label.CM_EDGE_LoginHelpEmail5}</td>-->
                          </tr>
                          <tr>
                            <td>{!$Label.CM_EDGE_LoginHelpCountry6}</td>
                            <td> <a  href="mailto:{!$Label.CM_EDGE_LoginHelpEmail6}" > {!$Label.CM_EDGE_LoginHelpEmail6} </a> </td>
                            <!--<td>{!$Label.CM_EDGE_LoginHelpEmail6}</td>-->
                          </tr>
                          <tr>
                            <td>{!$Label.CM_EDGE_LoginHelpCountry7}</td>
                            <td> <a  href="mailto:{!$Label.CM_EDGE_LoginHelpEmail7}" > {!$Label.CM_EDGE_LoginHelpEmail7} </a> </td>
                            <!--<td>{!$Label.CM_EDGE_LoginHelpEmail7}</td>-->
                          </tr>
                          <tr>
                            <td>{!$Label.CM_EDGE_LoginHelpCountry8}</td>
                            <td> <a  href="mailto:{!$Label.CM_EDGE_LoginHelpEmail8}" > {!$Label.CM_EDGE_LoginHelpEmail8} </a> </td>
                            <!--<td>{!$Label.CM_EDGE_LoginHelpEmail8}</td>-->
                          </tr>
                          <tr>
                            <td>{!$Label.CM_EDGE_LoginHelpCountry9}</td>
                            <td> <a  href="mailto:{!$Label.CM_EDGE_LoginHelpEmail9}" > {!$Label.CM_EDGE_LoginHelpEmail9} </a> </td>
                            <!--<td>{!$Label.CM_EDGE_LoginHelpEmail9}</td>-->
                          </tr>
                          <tr>
                            <td>{!$Label.CM_EDGE_LoginHelpCountry15}</td>
                            <td> <a  href="mailto:{!$Label.CM_EDGE_LoginHelpEmail15}" > {!$Label.CM_EDGE_LoginHelpEmail15} </a> </td>
                            <!--<td>{!$Label.CM_EDGE_LoginHelpEmail15}</td>-->
                          </tr>
                          <tr>
                            <td>{!$Label.CM_EDGE_LoginHelpCountry10}</td>
                            <td> <a  href="mailto:{!$Label.CM_EDGE_LoginHelpEmail10}" > {!$Label.CM_EDGE_LoginHelpEmail10} </a> </td>
                            <!--<td>{!$Label.CM_EDGE_LoginHelpEmail10}</td>-->
                          </tr>
                          <tr>
                            <td>{!$Label.CM_EDGE_LoginHelpCountry11}</td>
                            <td> <a  href="mailto:{!$Label.CM_EDGE_LoginHelpEmail11}" > {!$Label.CM_EDGE_LoginHelpEmail11} </a> </td>
                            <!--<td>{!$Label.CM_EDGE_LoginHelpEmail11}</td>-->
                          </tr>
                          <tr>
                            <td>{!$Label.CM_EDGE_LoginHelpCountry12}</td>
                            <td> <a  href="mailto:{!$Label.CM_EDGE_LoginHelpEmail12}" > {!$Label.CM_EDGE_LoginHelpEmail12} </a> </td>
                            <!--<td>{!$Label.CM_EDGE_LoginHelpEmail12}</td>-->
                          </tr>
                          <tr>
                            <td>{!$Label.CM_EDGE_LoginHelpCountry13}</td>
                            <td> <a  href="mailto:{!$Label.CM_EDGE_LoginHelpEmail13}" > {!$Label.CM_EDGE_LoginHelpEmail13} </a> </td>
                            <!--<td>{!$Label.CM_EDGE_LoginHelpEmail13}</td>-->
                          </tr>
                          <tr>
                            <td>{!$Label.CM_EDGE_LoginHelpCountry14}</td>
                            <td> <a  href="mailto:{!$Label.CM_EDGE_LoginHelpEmail14}" > {!$Label.CM_EDGE_LoginHelpEmail14} </a> </td>
                            <!--<td>{!$Label.CM_EDGE_LoginHelpEmail14}</td>-->
                          </tr>
                    </tbody>
                    </table>
                    <br/>
                         <apex:actionFunction name="submitForm" action="{!doLogin}" rerender="loginForm" />
                            <!--apex:actionFunction name="chngLang" action="{!changeLanguage}" />-->
                        </apex:form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div> <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="Frontend/Scripts/ie10-viewport-bug-workaround.js"></script>
</body>
</apex:page>