<apex:page showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0" applyHtmlTag="false" controller="EDGE_CaptureCashInputsController">
    
    <apex:composition template="EDGE_Site_Template"> 
        
        <apex:define name="title">
            <title>{!$Label.EDGE_Input_Management_Capture_Input}</title>
        </apex:define>
        
        <apex:define name="body">

         <div class="container">
          <div class="row">

            <!-- content - capture  -->
            <div class="capture">
              <div class="col-xs-12 col-md-12 mt85">
                <h2 class="page-header">{!$Label.EDGE_Input_Management_Capture_Input}</h2>

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#single-entry" aria-controls="single-entry" role="tab" data-toggle="tab">{!$Label.CMP_Capture_Invoice_Single_Entry_Tab}</a></li>
                    <li role="presentation"><a href="#mass-upload" aria-controls="mass-upload" role="tab" data-toggle="tab">{!$Label.CMP_Capture_Invoice_Mass_Upload_Tab}</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active col-md-12" id="single-entry">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="iblk block" style="min-height:70px!important;">
                                    <apex:form ><apex:actionfunction name="changeTransaction" action="{!changeTransactionType}" rerender="inputCapture"/>
                                    <div class="col-lg-12">
                                    <label class="control-label col-md-4" for="selectedTranscation">
                                               Input Type
                                              </label>                                              
                                              <apex:selectList styleClass="form-control" style="width:50%;" id="selectedTranscation" value="{!selectedTranscation}" multiselect="false" size="1" onchange="changeTransaction();">
                                              <apex:selectOptions value="{!transactionTypes}"/>
                                              </apex:selectList>
                                    </div></apex:form>
                                </div>  
                            </div>
                            <apex:form id="inputCapture" enctype="multipart/form-data">
                                <apex:actionfunction name="uploadFeed" action="{!uploadAttachmentFeed}" />
                                <apex:actionfunction name="save" action="{!saveinputs}" />
                                <apex:actionfunction name="saveNew" action="{!saveNew}" />
                                <apex:outputText rendered="{!errorMessage!=''}"><div class="alert alert-danger mt10" role="alert">
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <apex:outputText escape="false" value="{!errorMessage}"/>
                                </div></apex:outputText>
                            <apex:outputText rendered="{!fieldset != null}">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">                               
                                <div class="iblk block">
                                  <h3 class="block-header">{!$Label.EDGE_Capture_Input_Section_heading}</h3>
                                  <apex:variable var="count" value="{!0}"   />
                                  <apex:repeat value="{!$ObjectType.Input__c.FieldSets[fieldset]}" var="f" rendered="{!fieldset != null}">
                                    <apex:outputText value='</div>' rendered="{!AND(count!=0,MOD(count,2)==0)}" escape="false"/>
                                    <apex:outputText value='<div class="iblk">' rendered="{!OR(count==0,MOD(count,2)==0)}" escape="false"/>
                                       <div class="col-md-6 col-sm-6 col-xs-12">        
                                            <div class="form-group ">
                                              <label class="control-label " for="amount">
                                               {!if(f =='Custom_Currency__c', $Label.CM_FieldLabel_Invoice_Currency,if(AND(f=='Amount__c',fieldset='Option_Other'),$Label.CM_FieldLabel_Input_ObligationAmount,LabelMaps[f.fieldPath]) )}
                                              </label>
                                              <apex:SelectList styleClass="form-control" size="1" multiselect="false" value="{!inputUpload[f]}" rendered="{!OR(f =='Buy_Currency__c',f == 'Custom_Currency__c',f =='Sell_Currency__c')}">  
                                                <apex:SelectOptions value="{!InputCurrency}" />
                                              </apex:SelectList>
                                              <apex:inputField styleClass="form-control" value="{!inputUpload[f]}" rendered="{!AND(f!='Settlement_Date__c',f!='Transaction_Date__c',f!='Window_End_Date__c',f!='Window_Start_Date__c',f!='Payment_Date__c',f!='Buy_Currency__c',f!='Custom_Currency__c',f!='Sell_Currency__c',f != 'Input_Beneficiary__c')}"/>
                                              <apex:inputField styleClass="form-control" type="date" value="{!inputUpload[f]}" rendered="{!OR(f=='Settlement_Date__c',f=='Transaction_Date__c',f=='Window_End_Date__c',f=='Window_Start_Date__c',f=='Payment_Date__c')}"/>
                                              <apex:outputText rendered="{!f=='Input_Beneficiary__c'}">
                                              <div class="input-group">
                                                  <apex:inputHidden value="{!inputUpload[f]}" id="bene"/>
                                                  <c:CustomLookup objectName="Input_Beneficiary__c" selectedRefId="{!inputUpload[f]}" fieldAPI="Name" fieldToPopulateId="{!$Component.bene}" fieldSetName="Lookup_Fields"/>
                                                                        <script>
                                                                            var beneVar = '{!$Component.bene}';
                                                                        </script>
                                                  <span class="input-group-btn">
                                                    <apex:commandButton title="{!$Label.CM_Community_Button_New}" value="{!$Label.CM_Community_Button_New}" styleClass="btn btn-default" rendered="{!if(f == 'Input_Beneficiary__c', true,false )}" onClick="javascript:openAddBeneModal('{!$CurrentPage.parameters.aId}','{!$Component.bene}','{!$Component.bene}_name');return false;"/>
                                                  </span>
                                                </div>
                                                </apex:outputText>
                                            </div>
                                        </div>
                                    <apex:variable value="{!count+1}" var="count"/>
                                  </apex:repeat>
                                  <apex:outputText value='</div>' escape="false"/>
                                </div>  
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">                               
                                <div class="iblk block">
                                  <div class="iblk">
                                  <div class="col-xs-12">
                                    <strong style="color:black;">{!$Label.EDGE_Community_Attachment_Message}</strong>  
                                    <apex:outputText rendered="{!latestContentId==null}">   
                                            <apex:inputFile value="{!fileData}" filename="{!fileName}" id="selectedFile" styleClass="file" onchange="uploadFeed();"/>
                                    </apex:outputText>
                                    <apex:outputPanel rendered="{!latestContentId!=null}">
                                            <table class="table table-edge" cellspacing="0" width="100%" id="fileData">
                                              <thead class="bg-grey text-uppercase">
                                                <tr>
                                                  <th>{!$Label.CM_FieldLabel_Attachments_FileName}</th>
                                                  <th>{!$Label.Action}</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                    <tr>
                                                        <td>{!fileName}</td>
                                                        <td><apex:commandButton action="{!deleteAttachmentFeed}"  styleClass="btn btn-yellow" value="{!$Label.Delete}"/></td>
                                                    </tr>
                                              </tbody>
                                            </table>
                                        </apex:outputPanel>
                                </div>
                                  </div>
                                </div>  
                            </div>
                            <div class="col-lg-12 mt10 text-right">
                                <input type="button" value="{!$Label.CM_Community_Button_Submit}" onclick="save();return false;" class="btn btn-yellow" />
                                <input type="button" value="{!$Label.EDGE_Submit_New_Button}" onclick="saveNew();return false;" class="btn btn-yellow" />
                            </div>
                            </apex:outputText>
                            </apex:form>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="iblk block">
                          <h3 class="block-header">{!$Label.EDGE_Invoice_Preview_Label}</h3>
                          <p><apex:outputpanel id="flashPanel" rendered="{!latestContentId!=null}">
                                 <apex:flash id="theFlash" src="/_swf/121310/sfc/flex/DocViewer.swf" flashvars="shepherd_prefix={!$Site.Prefix}/sfc/servlet.shepherd&v={!latestContentId}&mode=bubble" height="600px" width="100%" />
                            </apex:outputpanel></p>
                        </div>
                        </div>
                        
                    </div>
                    <div role="tabpanel" class="tab-pane col-md-12" id="mass-upload">
                        <div class="col-sm-12">
                            <div class="iblk block">
                              <div class="col-lg-12">
                                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                   <div class="iblk block" style="min-height:70px!important;">
                                        <apex:form >
                                        <div class="col-lg-12">
                                        <label class="control-label col-md-4" for="selectedTranscation">
                                                   Input Type
                                                  </label>                                              
                                                  <apex:selectList styleClass="form-control" style="width:50%;" id="transTypeId" value="{!selectedTranscation1}" multiselect="false" size="1" onchange="updateCSVSample(this.value)">
                                                  <apex:selectOptions value="{!transactionTypes}"/>
                                                  </apex:selectList>
                                        </div></apex:form>
                                    </div>  
                                </div>
                                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <apex:form enctype="multipart/form-data">
	                            <center>
	                            <apex:actionRegion >
	                                <c:DragnDropFileUploadInput parentId2="{!AccId}"
	                                    multiple="true" sourcePage="EDGE_CaptureInput" ></c:DragnDropFileUploadInput>
	                            </apex:actionRegion>
	                            </center>
	                            </apex:form>
	                            </div>
                              </div>                
                            </div>
                        </div>
                    </div>
                  </div>
                
              </div>
             </div>
          </div>
         </div><!-- /container -->

       
         <script type="text/javascript">
          // ------------------------------
          // table initialization
          // ------------------------------
          $(document).ready( function () {
              $('#ref-docs').DataTable({
                  columns: [
                    null,
                    null,
                    { "orderable": false }
                  ]
                });
          } );
        </script>
        <style>
            .dateFormat{display:none;}
            .lookupIcon {
                background-image: url(/img/func_icons/util/lookup20.gif);
                background-position: 0 0;
                width: 20px;
                height: 20px;
                background-position: top left;
            }
            .lookupIconOn {
                background-image: url(/img/func_icons/util/lookup20.gif);
                background-position: 0 0;
                width: 20px;
                height: 20px;
                background-position: top right;
            }
            .custSaveInvPopup {
                background-color: white;
                border-width: 2px;
                border-style: solid;
                z-index: 9999;
                margin-left: 20%;
                padding: 10px;
                position: absolute;
                width: 739px;
                height: 18%;
                top: 215px;
                color: rgba(0, 0, 0, 0.75) !important;
            }
            .popupSaveInvBackground {
                background-color: black;
                opacity: 0.20;
                filter: alpha(opacity = 20);
                position: fixed;
                width: 90%;
                height: 100%;
                top: 10px;
                left: 53px;
                z-index: 9998;
            }
            #drop-files{padding:36px 0 0 0!important;}
        </style>
        <c:AddBenePopUp />
        </apex:define>
    </apex:composition>
        <apex:outputPanel id="modalInvoiceSave" >  
    <apex:form >      
          <apex:outputPanel styleClass="popupSaveInvBackground" layout="block" rendered="{!AND(isInpSaved,isSaveClicked) }"/>
            <apex:outputPanel styleClass="custSaveInvPopup"  layout="block" rendered="{!AND(isInpSaved,isSaveClicked) }">
            <div style="text-align: center;text-transform: uppercase;font-weight: 600;font-family: sans-serif;">
            {!$Label.CM_Input_Submitted}
                        </div>
             
            <br/>
             <center>
             <apex:commandButton value="OK" styleClass="btn btn-yellow" action="{!redirectToHome}"/>
             </center>
           </apex:outputPanel>
           </apex:form>
    </apex:outputPanel>

</apex:page>