<!--
Author       :   Priyanka Kumar(Appirio)
Created Date :   12 May'16
Name         :   EDGE_Payment_Approvals
Task         :   T-501134
Description  :   Clone the manage beneficiary page and rename to be Payment Approvals.
-->
<apex:page showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0" applyHtmlTag="false" controller="EDGE_Payment_ApprovalsCtrl" action="{!redirectToHome}">

    <apex:composition template="EDGE_Site_Template">

        <apex:define name="title">
            <title>{!$Label.CM_Community_Link_PaymentApprovals}</title>
        </apex:define>
        <apex:define name="navigation">
               <c:EDGE_Site_Navigation menuName="PaymentApprovals" />
            </apex:define>

        <apex:define name="body">

        <div class="container-fluid">
          <div class="row">
            <!-- content - network  -->
            <div class="invoice-detail">
              <div class="col-xs-12 col-md-12 mt85">

                <h2 class="page-header">{!$Label.CM_Community_Link_PaymentApprovals}</h2>
                <!-- <div class="block" style="min-width:1300px;"> -->
                <div class="block" style="padding:0 0 0 0;">
                    <apex:outputLabel value="{!$Label.CM_Alert_GlobalPayDisabled}" styleClass="labelBold" rendered="{!(!$Setup.Global_Pay_Integration_Administration__c.Integration_Enabled__c)}"/><!--<br/>-->
                    <apex:outputText rendered="{!$Setup.Global_Pay_Integration_Administration__c.Integration_Enabled__c}">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src='{!$Site.Prefix}/apex/GPAppTest?app=approveTransactions' id="openApproveOrderModalIframe" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals"></iframe>
                        </div>
                   </apex:outputText>

                </div><!-- /Invite Edge Users-->


              </div>
            </div>
          </div>
        </div>

        </apex:define>

    </apex:composition>

</apex:page>