<!--
Author       :   Nikhil Sharma(Appirio)
Created Date :   10 May'16
Name         :   EDGE_Beneficiary
Task         :   T-501133
Description  :   Test VF page to test supplier search component functionality
-->

<apex:page showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0" applyHtmlTag="false">
    <apex:composition template="EDGE_Site_Template">
        <apex:define name="title">
            <title>Add Beneficiary</title>
        </apex:define>
        <apex:define name="navigation">
         <apex:outputPanel layout="none"  rendered="{!($CurrentPage.parameters.isModal!='true')}">
           <c:EDGE_Site_Navigation menuName="BeneficiaryManagement"/>
         </apex:outputPanel>
        </apex:define>
        <apex:define name="body">
        <div class="container" style="width: 98%;">
          <div class="row">
             <!--Add Supplier  -->
            <div class="network">

              <div class="col-xs-12 col-md-12 {!IF($CurrentPage.parameters.isModal!='true','mt85','')}">
              <br/>
	            <apex:outputPanel layout="none" rendered="{!IF($CurrentPage.parameters.InvoiceId==null,true,false)}">
	                <a href="{!$CurrentPage.parameters.retUrl}&id={!$CurrentPage.parameters.id}">
	                 {!$Label.CM_EDGE_Back_to_previous_page}
	                </a>
                </apex:outputPanel>
                <apex:outputPanel layout="none" rendered="{!IF($CurrentPage.parameters.InvoiceId!=null,true,false)}">
                	<a href="{!$Setup.CMP_Administration__c.CM_Community_BaseURL__c}{!$CurrentPage.parameters.retUrl}{!IF(contains($CurrentPage.parameters.retUrl , "edit"),'&','?')}Id={!$CurrentPage.parameters.InvoiceId}{!IF($CurrentPage.parameters.retUrl2!=null,'&retUrl='+$CurrentPage.parameters.retUrl2,'')}">
                	 {!$Label.CM_EDGE_Back_to_previous_page}
	                </a>

                </apex:outputPanel>
                <h2 class="page-header">{!$Label.Edge_Table_Header_Company_Information}</h2>
                     <c:Edge_AddSupplierComponent />
              </div>
            </div>
          </div>
        </div>

        </apex:define>

    </apex:composition>



</apex:page>