<apex:page showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0" applyHtmlTag="false" controller="DocumentUploadController" >
    

<script type="text/javascript">

          $(document).ready( function () {
            bindDataTable();
          } );
          
      

        function bindDataTable(){
            bindPayableDataTable();
            sliderInit();
        }

           function bindPayableDataTable(){
              $('#RelatedDoc-colab').DataTable({
                  "lengthMenu": [[5,10,20], [5,10,20]],
                  "order": [[ 3, "desc" ]],
                  "columnDefs": [{ type: 'datetime-us-flex', targets: 3 }],
                  "language": {
                    "decimal": "",
                    "emptyTable": "{!$Label.CM_Edge_DataTable_NoDataAvailable}",
                    "info": "{!$Label.CM_Edge_Pagination_Showing} _START_ {!$Label.CM_EDGE_CustomLookUp_To} _END_ {!$Label.CM_EDGE_CustomLookUp_Of} _TOTAL_ {!$Label.CM_Edge_Pagination_Entries}",
                    "infoEmpty": "{!$Label.CM_Edge_DataTable_Showing0Entries}",
                    "infoFiltered": "({!$Label.CM_Edge_DataTable_FilteredFrom} _MAX_ {!$Label.CM_Edge_DataTable_TotalEntries})",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "{!$Label.CM_Edge_Pagination_Show} _MENU_ {!$Label.CM_Edge_Pagination_Entries}",
                    "loadingRecords": "{!$Label.CM_Edge_DataTable_Loading}",
                    "processing": "{!$Label.CM_Edge_DataTable_Processing}",
                    "search": "{!$Label.CM_EDGE_CustomLookUp_Search_Button}:",
                    "zeroRecords": "{!$Label.CM_Edge_DataTable_NoRecordFound}",
                    "paginate": {
                    "first": "{!$Label.CM_Community_Button_First}",
                    "last": "{!$Label.CM_Community_Button_Last}",
                    "next": "{!$Label.CM_Community_Button_Next}",
                    "previous": "{!$Label.CM_Community_Button_Previous}"
                    },
                    "aria": {
                    "sortAscending": ": {!$Label.CM_Edge_DataTable_ActivateSortASC}",
                    "sortDescending": ": {!$Label.CM_Edge_DataTable_ActivateSortDESC}"
                    }
                }
                });
          }
          
        function sliderInit(){
        var dateLocale = '{!localeDate}';
        jQuery.extend( jQuery.fn.dataTableExt.oSort, {
	      "datetime-us-flex-pre": function ( a ) {
	         debugger;
	        // If there's no slash, then it's not an actual date, so return zero for sorting
	        if(a.indexOf('/') === -1) {
	            return '0';
	        } else {
	          // Set optional items to zero
	          
	          var tt = getDateFormatForSort({!localeDateRegx},a);
	          return tt;         
	        }      
	      },
	      "datetime-us-flex-asc": function ( a, b ) {
	        return a - b;
	      },
	      "datetime-us-flex-desc": function ( a, b ) {
	      }
       });}
           </script>
           
    <apex:composition template="EDGE_Site_Template"> 
   
                
                
        <apex:define name="title">
            <title>{!$Label.CM_Community_Tab_AccountDocument}</title>
        </apex:define>
        <apex:define name="navigation">
               <c:EDGE_Site_Navigation menuName="documentCollaboration" />
            </apex:define>
        
        <apex:define name="body">
            
	   
     <script type="text/javascript">
	                var dateLocale = '{!localeDate}';
	                debugger;
					jQuery.extend( jQuery.fn.dataTableExt.oSort, {
					       "datetime-us-flex-pre": function ( a ) {
					         if(a.indexOf('/') === -1) {
					             return '0';
					         } else {					           
					           var tt = getDateFormatForSort({!localeDateRegx},a);
					           return tt;         
					         }      
					       },
					       "datetime-us-flex-asc": function ( a, b ) {
					         return a - b;
					       },
					       "datetime-us-flex-desc": function ( a, b ) {
					         return b - a;
					       }
					     });
			</script> 
		<apex:includeScript value="{!URLFOR($Resource.EDGE_Template, '/js/ckeditor.js')}"/>
  		<apex:includeScript value="{!URLFOR($Resource.EDGE_Template, '/js/config.js')}"/>
        <div class="container">
          <div class="row">
            <!-- content - case collaboration  -->
            <div class="case-collaboration">
                
              <div class="col-xs-12 col-md-12 mt85">
                  <br/>
                        <apex:outputPanel layout="none">
                	<a href="{!$Setup.CMP_Administration__c.CM_Community_BaseURL__c}{!$CurrentPage.parameters.retUrl}">
                	 {!$Label.CM_EDGE_Back_to_previous_page}
	                </a>
                
                </apex:outputPanel>
                <h2 class="page-header">{!$Label.CM_Community_Tab_AccountDocument}</h2> 
                <div style="float:left;margin-top:10px;margin-bottom:10px;width:100%;">
                <c:EDGE_NewChatterPostComponent c_parentId="{!accDoc.Id}"/>  
                </div>
                <apex:outputtext rendered="{!!isSufficient}">
                <div class="block">                    
                   <div class="iblk">
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <label class="control-label " for="search">{!$Label.CM_FieldLabel_AccountDocument_DocumentName}</label>
                                <apex:outputText styleclass="form-control OutputTextBGColor" value="{!accountDocName}" />
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <label class="control-label " for="search">{!$Label.CM_FieldLabel_AccountDocument_CreatedDate}</label>
                            <apex:outputText styleclass="form-control OutputTextBGColor" value="{0,date,dd'/'MM'/'yyyy  HH:mm:ss }" >
                                                    <apex:param value="{!accDoc.CreatedDate}" />
                                                    
                             </apex:outputText>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <label class="control-label " for="search">{!$Label.CM_FieldLabel_AccountDocument_CreatedBy}</label>
                                <apex:outputText styleclass="form-control OutputTextBGColor" value="{!accDoc.CreatedBy.Name}" />
                          </div>
                           <div class="col-md-6 col-sm-6 col-xs-12">
                            <label class="control-label " for="search">{!$Label.CM_FieldLabel_AccountDocument_LastModifiedDate}</label>
                            <apex:outputText styleclass="form-control OutputTextBGColor" value="{0,date,dd'/'MM'/'yyyy  HH:mm:ss }" >
                                                    <apex:param value="{!accDoc.LastModifiedDate}" />
                                                    
                             </apex:outputText>
                          </div>
                          
                          
                          
                          <apex:outputtext rendered="{!AND(accDoc.RecordType.Name == 'Customer Generated', accDoc.CreatedById == $User.Id)}">
                          <div class="spacer-sm iblk"/>
                          <div class="col-md-12 col-sm-12 col-xs-12">
                            <center>
                                <input type="button" class="btn btn-yellow" value="{!$Label.CM_Document_Button_Rename}"  
                                                            onClick="openDocumentSubjectModal('{!accDoc.Id}');" />&nbsp;&nbsp;
                                <input type="button" class="btn btn-yellow" value="{!$Label.CM_Community_Button_ChangeDocument}"  
                                                            onClick="openDocumentVersionModal('{!accDoc.Id}');" />
                            </center>
                          </div>
                          </apex:outputtext>
                       </div>
                </div>
                <apex:form id="noteForm">
                <div class="block">
                    <h3 class="block-header">{!$Label.CM_SectionHeading_AccountDocumentEdit_Documents}</h3>
                        <div class="iblk">
                              <center>
                                  <apex:commandButton id="deleteButtonT" value="{!$Label.CM_Community_Button_Delete}" styleclass="btn btn-yellow" style="display:none;" onclick="return deleteInputs();"  />
                              </center>
                              <div class="spacer-sm iblk"/>
                                <apex:outputText rendered="{!listChildAttachments.size>0}">
                                <table class="table table-edge" cellspacing="0" width="100%" id="RelatedDoc-colab">
                                  <thead class="bg-grey text-uppercase">
                                    <tr>
                                      <th><apex:outputtext value="{!checkBoxOutgoingHtml}" rendered="{!$User.Id == accDoc.CreatedById}" escape="false" /> 
                                                    <apex:outputtext value="{!$Label.CM_FieldLabel_Attachments_Action}" rendered="{!NOT($User.Id == accDoc.CreatedById)}" escape="false" /></th>
                                      <th>{!$Label.CM_FieldLabel_Attachments_FileName}</th>
                                      <th>{!$Label.CM_FieldLabel_Attachments_CreatedBy}</th>
                                      <th>{!$Label.CM_FieldLabel_AccountDocument_CreatedByDate}</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                      <apex:repeat value="{!listChildAttachments}" var="eachAttachment" rendered="{!listChildAttachments.size > 0}">
                                          <tr>
                                              <td> <apex:inputCheckbox rendered="{!$User.Id == accDoc.CreatedById}" value="{!eachAttachment.isSelected}" id="deleteInputOutgoingChk" 
                                                        onclick="showDeleteBtns();" styleClass="deleteInputChk" /></td>
                                              <td><apex:outputLink value="/servlet/servlet.FileDownload?file={!eachAttachment.accountDoc.Id}">{!eachAttachment.accountDoc.name}</apex:outputLink></td>
                                              <td><apex:outputText value="{!eachAttachment.accountDoc.CreatedBy.Name}" /></td>
                                              <td><apex:outputText value="{!eachAttachment.CreatedDate }" /></td>
                                          </tr>
                                      </apex:repeat>
                                  </tbody>
                                </table>
                             
                                </apex:outputText>
                                <apex:outputPanel rendered="{!listChildAttachments.size == 0}">
                                    <br />
                                    <center><h2>{!$Label.CM_Community_Text_NoRecordsToDisplay}</h2></center>
                                </apex:outputPanel>
                        </div>
                </div>
                <apex:actionFunction name="deleteAttachment" action="{!customDelete}" rerender="noteForm" oncomplete="showDeleteBtns();"/>
                </apex:form>
                </apex:outputtext>                  
                    <apex:outputtext rendered="{!isSufficient}">
                        <br />
                        <h2>{!$Label.CM_Validation_InsufficientPriveleges}</h2>
                    </apex:outputtext>
           <c:DocumentUploadModalPopUp />
           <c:DocumentDragUploadPopUp />
           <c:UploadNewVersion />
           <c:UpdateDocumentSubject />
              </div>
            </div>
          </div>
        </div>
        </apex:define>
            
    </apex:composition>
         <script type="text/javascript">
                $(document).ready(function(){
                    var tabId = '{!$CurrentPage.parameters.tab}';
                    $('#'+tabId).empty();
                    var a = $('#accDetailPageId');
                    $('#'+tabId).append(a);
                    var urlRef = '{!$Site.Prefix}/EDGE_AccountDocumentComm?tab='+tabId;
                    $('#'+tabId+'LeftPanel').attr("href",urlRef);
                    $('#'+tabId+'LeftPanel').attr("data-toggle","");
                    
                    $('#publisherAttachContentPost').parent().css("display","none");
                    $('#publisherAttachLinkPost').parent().css("display","none");
                    $('#publisherAttachPollPost').parent().css("display","none");
                    $('#publisherAttachRypplePost').parent().css("display","none");
                    $('#publisherDropdown').parent().css("display","none");
                    $('.cxcontentcommentaction').remove();
                    
                    $('#leftSec').css("display","block");
                    
                    $('.zen-mediaBody > a').each(function(){
                        if($(this).hasClass('zen-imgExt')){
                        }else{
                            $(this).text("'{!$Label.CM_Community_Link_GetEmailUpdates}'");
                        }
                    })
                    
                    $('span.zen-mediaBody').each(function(){
                        if($(this).text().indexOf('Following') != -1){
                            $(this).html($(this).html().replace('Following', '{!$Label.CM_Community_Link_GetEmailUpdates}'));
                        }
                    })
                    
                });
                
                var intrvl = setInterval(function(){
                    $('#publisherAttachContentPost').parent().css("display","none");
                    $('#publisherAttachLinkPost').parent().css("display","none");
                    $('#publisherAttachPollPost').parent().css("display","none");
                    $('#publisherAttachRypplePost').parent().css("display","none");
                    $('#publisherDropdown').parent().css("display","none");
                    $('.cxcontentcommentaction').remove();
                    $('#publisherVisibilityIcon').attr("title","Post to this account document")
                    $('#leftSec').css("display","block");
                    
                    $('.zen-mediaBody > a').each(function(){
                        if($(this).hasClass('zen-imgExt')){
                        }else{
                            $(this).text("'{!$Label.CM_Community_Link_GetEmailUpdates}'");
                        }
                    })
                    
                    $('span.zen-mediaBody').each(function(){
                        if($(this).text().indexOf('Following') != -1){
                            $(this).html($(this).html().replace('Following', '{!$Label.CM_Community_Link_GetEmailUpdates}'));
                        }
                    })
                }, 100);   
                
                
                
                function deleteInputs(){
                    if(confirm('{!$Label.CM_Alert_AreYouSureYouWantToDeleteThisRecord}')){
                        deleteAttachment();
                    }
                    return false;
                }
                function doToggleDelete(ele, checkBoxId){
                    debugger;
                    if(ele.checked){
                        $('input[id$="'+checkBoxId+'"]').prop('checked', true);
                    }else{
                        $('input[id$="'+checkBoxId+'"]').prop('checked', false);
                    }
                    showDeleteBtns();
                }
                
                                    
                function showDeleteBtns(){
                    debugger;
                    var isShowDelete = false;
                    if($('input:checkbox.deleteInputChk:checked').length>0){
                        isShowDelete = true;
                    }
                    if(isShowDelete){
                        $('input[id$="deleteButtonT"]').show();
                    }else{
                        $('input[id$="deleteButtonT"]').hide();
                    }
                }
            </script>       
            
    
</apex:page>