<apex:page showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0" applyHtmlTag="false" >
    
    <apex:composition template="EDGE_Site_Template"> 
        
        <apex:define name="title">
            <title>Submit Invoice</title>
        </apex:define>
        
        <apex:define name="body">

         <div class="container">
          <div class="row">

            <!-- content - capture  -->
            <div class="submit-invoice">
              <div class="col-xs-12 col-md-12 mt85">
              	<h2 class="page-header">Submit an Invoice</h2>
                <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				    	<div class="iblk block">
		                  <h3 class="block-header">Invoice Details</h3>
		                  	<div class="iblk">
		                     	<div class="col-xs-12"> 
					    			<label class="control-label " for="search">
								    Search Connections
							      	</label>
						    		<div class="input-group">
								      <input type="text" id="search" name="search" class="form-control" placeholder="Search for..."/>
								      <span class="input-group-btn">
								        <button class="btn btn-default" type="button">Search</button>
								      </span>
								    </div>
						    	</div>
			                  	<div class="col-xs-12">    	
								    <div class="form-group ">
								      <label class="control-label " for="invoice-number">
								       Invoice Number
								      </label>
								      <input class="form-control" id="invoice-number" name="invoice-number" placeholder="Amount" type="text"/>
								    </div>
						    	</div>
					    	</div>
					    	<div class="iblk">
						    	<div class="col-xs-12">    	
								    <div class="form-group ">
								      <label class="control-label" for="add-doc">
								       Add Document
								      </label>
								      <div class="input-group">
								         <input type="text" id="add-doc" name="add-doc" class="form-control" placeholder="Add document"/>
									     <span class="input-group-btn">
									        <button class="btn btn-yellow-input" type="button">{!$Label.CM_EDGE_Search_Documents}</button>
									     </span> 
									  </div>
								    </div>
						    	</div>
					    	</div>
					    	<div class="col-lg-12 mt10 text-right">
			                  	<button type="button" class="btn btn-yellow">Submit</button>
								<button type="button" class="btn btn-light">Submit &amp; New</button>
		                  	</div>               
		                </div>	
		                
				    </div>
				    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		                <div class="iblk block">
		                  <h3 class="block-header">Preview</h3>
		                  <p>Preview here - <a href="https://wubs--bsnetwork.cs25.my.salesforce.com/apex/EDGE_UI_TEST">EXAMPLE</a></p>
		                </div>
		              </div>
			    </div>

      		  </div>
          	</div>

      	  </div>
      	</div>

      	</apex:define>
  	</apex:composition>
	
</apex:page>