<apex:component controller="EDGE_Modal_User_Manage_ProfileCtrl" allowDML="true">

    <style>
        .OutputTextBGColor{
            background-color: rgb(244, 244, 244) !important;
        }

        .headerTxt{
             font-weight: 500 !important;
             color: #fff !important;
        }

        a:hover.headerTxt {
            color: #FFC614 !important;
        }

        .activeClass {
            color: #FFC614 !important;
        }

    </style>

    <script>
        function fixClass(cmpId){
            $('.headerTxt').removeClass('activeClass')
            $(cmpId).addClass('activeClass');
        }
    </script>

    <div class="modal fade" id="manage-profile" tabindex="-1" role="dialog" aria-labelledby="manage-profile">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header pb30">

            <h4 class="modal-title" id="myModalLabel">{!$Label.CM_Community_Link_Manage_Profile}</h4>
            <div class="row text-center profile-navigation flex-horizontal" style="background-color:black !important;">
                <a href="#general" class="headerTxt activeClass" onclick="fixClass(this);">{!$Label.CM_Community_Button_ManageProfile_General}</a>
                <a href="#address" class="headerTxt" onclick="fixClass(this);">{!$Label.CM_NetworkResults_TableHeader_Address}</a>
                <a href="#localinfo" class="headerTxt" onclick="fixClass(this);">{!$Label.CM_Community_Button_ManageProfile_Local_Information}</a>
                <a href="#sharing" class="headerTxt" onclick="fixClass(this);">{!$Label.CM_Community_Button_ManageProfile_Sharing}</a>
                <a href="#notifications1" class="headerTxt" onclick="fixClass(this);">{!$Label.CM_Community_Tab_Notifications}</a>
            </div>
          </div>

			
			<center> <!-- for Issue I-237714 -->
	          <div style="font-weight: 800;">
	            <apex:pageMessages id="errMsgs"></apex:pageMessages>
	          </div>
			</center>
			
		<div class="modal-body modal-overflow">


            <span name="general" id="general"/>
           <!-- <form method="post"> -->
                <h4>{!$Label.CM_Community_Button_ManageProfile_General}</h4>
            <apex:outputPanel id="GeneralId">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group ">
                      <label class="control-label " for="name">
                       {!$Label.CM_FieldLabel_CMPUser_FirstName}
                      </label>
                   <!--   <input class="form-control" id="name" name="name" placeholder="First Name" type="text"/> -->
                      <apex:inputText styleClass="form-control" id="name" html-placeholder="First Name" value="{!commUser.FirstName}" rendered="{!!isSaved}"/>
                      <apex:outputText styleClass="form-control OutputTextBGColor" id="oname" html-placeholder="First Name" value="{!commUser.FirstName}" rendered="{!isSaved}"/>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group ">
                      <label class="control-label " for="lname">
                       {!$Label.CM_FieldLabel_CMPUser_LastName}
                      </label>
                     <!-- <input class="form-control" id="lname" name="lname" placeholder="Last Name" type="text"/> -->
                      <apex:inputText styleClass="form-control" id="lname" html-placeholder="Last Name" value="{!commUser.LastName}" rendered="{!!isSaved}"/>
                      <apex:outputText styleClass="form-control OutputTextBGColor" id="olname" html-placeholder="Last Name" value="{!commUser.LastName}" rendered="{!isSaved}"/>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group ">
                      <label class="control-label " for="email">
                       {!$Label.CM_FieldLabel_CMPUser_Email}
                      </label>
                    <!--  <input class="form-control" id="email" name="email" placeholder="Email" type="text"/> -->
                      <!-- <apex:inputText styleClass="form-control" id="email" html-placeholder="Email" value="{!commUser.Email}" rendered="{!!isSaved}"/> -->
                      <apex:outputText styleClass="form-control OutputTextBGColor" id="oemail" html-placeholder="Email" value="{!commUser.Email}"/>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group ">
                      <label class="control-label " for="title">
                       {!$Label.CM_FieldLabel_CMPUser_Title}
                      </label>
                     <!-- <input class="form-control" id="title" name="title" placeholder="Title" type="text"/> -->
                      <apex:inputText styleClass="form-control" id="title" html-placeholder="Title" value="{!commUser.Title}"  rendered="{!!isSaved}"/>
                      <apex:outputText styleClass="form-control OutputTextBGColor" id="otitle" html-placeholder="Title" value="{!commUser.Title}"  rendered="{!isSaved}"/>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group ">
                      <label class="control-label " for="phone">
                       {!$Label.CM_FieldLabel_CMPUser_Phone}
                      </label>
                     <!-- <input class="form-control" id="phone" name="phone" placeholder="Phone" type="text"/> -->
                      <apex:inputText styleClass="form-control" id="phone" html-placeholder="Phone" maxlength="40" value="{!commUser.Phone}"  rendered="{!!isSaved}"/>
                      <apex:outputText styleClass="form-control OutputTextBGColor" id="ophone" html-placeholder="Phone" value="{!commUser.Phone}"  rendered="{!isSaved}"/>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group ">
                      <label class="control-label " for="mobile">
                       {!$Label.CM_FieldLabel_CMPUser_Mobile}
                      </label>
                     <!-- <input class="form-control" id="mobile" name="mobile" placeholder="Mobile" type="text"/> -->
                      <apex:inputText styleClass="form-control" id="mobile" html-placeholder="Mobile" maxlength="40" value="{!commUser.MobilePhone}"  rendered="{!!isSaved}"/>
                      <apex:outputText styleClass="form-control OutputTextBGColor" id="omobile" html-placeholder="Mobile" value="{!commUser.MobilePhone}"  rendered="{!isSaved}"/>
                    </div>
                </div>
            </apex:outputPanel>
                <hr class="iblk" name="address" id="address"/>
                <h4>{!$Label.CM_SectionHeading_CMPUser_AddressInformation}</h4>
            <apex:outputPanel id="AddressId">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group ">
                      <label class="control-label " for="street1">
                       {!$Label.CM_FieldLabel_CMPUser_Street}
                      </label>
                    <!--  <input class="form-control" id="street1" name="street1" placeholder="Street" type="text"/> -->
                     <!-- <apex:inputText styleClass="form-control" id="street1" html-placeholder="Street" value="{!commUser.Street}"  rendered="{!!isSaved}"/> -->
                      <apex:outputText styleClass="form-control OutputTextBGColor" id="ostreet1" html-placeholder="Street" value="{!commUser.Street}" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group ">
                      <label class="control-label " for="city">
                       {!$Label.CM_FieldLabel_CMPUser_City}
                      </label>
                   <!--   <input class="form-control" id="city" name="city" placeholder="City" type="text"/> -->
                    <!--  <apex:inputText styleClass="form-control" id="city" html-placeholder="City" value="{!commUser.City}"  rendered="{!!isSaved}"/> -->
                      <apex:outputText styleClass="form-control OutputTextBGColor" id="ocity" html-placeholder="City" value="{!commUser.City}" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group ">
                      <label class="control-label " for="state">
                       {!$Label.CM_FieldLabel_CMPUser_StateProvince}
                      </label>
                     <!-- <input class="form-control" id="state" name="state" placeholder="State" type="text"/> -->
                   <!--   <apex:inputText styleClass="form-control" id="state" html-placeholder="State" value="{!commUser.State}"/> -->
                      <apex:outputText styleClass="form-control OutputTextBGColor" id="ostate" html-placeholder="State" value="{!commUser.State}"/>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group ">
                      <label class="control-label " for="zipcode">
                       {!$Label.CM_FieldLabel_CMPUser_ZipPostalCode}
                      </label>
                     <!-- <input class="form-control" id="zipcode" name="zipcode" placeholder="Zipcode" type="text"/> -->
                  <!--   <apex:inputText styleClass="form-control" id="zipcode" html-placeholder="Zipcode" value="{!commUser.PostalCode}"  rendered="{!!isSaved}"/> -->
                     <apex:outputText styleClass="form-control OutputTextBGColor" id="ozipcode" html-placeholder="Zipcode" value="{!commUser.PostalCode}"/>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group ">
                      <label class="control-label " for="country">
                       {!$Label.CM_FieldLabel_CMPUser_Country}
                      </label>
                     <!-- <input class="form-control" id="country" name="country" placeholder="Country" type="text"/> -->
                   <!--   <apex:inputText styleClass="form-control" id="country" html-placeholder="Country" value="{!commUser.Country}"  rendered="{!!isSaved}"/> -->
                      <apex:outputText styleClass="form-control OutputTextBGColor" id="ocountry" html-placeholder="Country" value="{!commUser.Country}" />
                    </div>
                </div>
            </apex:outputPanel>
                <hr class="iblk" name="localinfo" id="localinfo"/>
                <h4>{!$Label.CM_Community_Button_ManageProfile_Local_Information}</h4>
            <apex:outputPanel id="localInformationId">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <label class="control-label " for="country">
                        {!$Label.CM_FieldLabel_CMPUser_Language}
                        </label>
                        <apex:selectList multiselect="false" size="1" Id="LanguageLocaleKey" styleClass="form-control" html-placeholder="Language" value="{!commUser.LanguageLocaleKey}" rendered="{!!isSaved}">
                            <apex:selectOptions value="{!languageOptions}"/>
                        </apex:selectList>
                        <apex:outputText Id="oLanguageLocaleKey" styleClass="form-control OutputTextBGColor" html-placeholder="Language" value="{!mapLangValAndLabel[commUser.LanguageLocaleKey]}" rendered="{!isSaved}"/>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <label class="control-label " for="currency">
                        {!$Label.Edge_Currency}
                        </label>
                        <apex:inputField Id="CurrencyIsoCode" styleClass="form-control" html-placeholder="Currency" value="{!commUser.DefaultCurrencyIsoCode}" rendered="{!!isSaved}"/>
                        <apex:outputText Id="oCurrencyIsoCode" styleClass="form-control OutputTextBGColor" html-placeholder="Currency" value="{!mapCurrencyValAndLabel[commUser.DefaultCurrencyIsoCode]}" rendered="{!isSaved}"/>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <label class="control-label " for="country">
                        {!$Label.CM_FieldLabel_CMPUser_Locale}
                        </label>
                        <apex:inputField Id="LocaleSidKey" styleClass="form-control" html-placeholder="Locale" value="{!commUser.LocaleSidKey}" rendered="{!!isSaved}"></apex:inputField>
                        <apex:outputText Id="oLocaleSidKey" styleClass="form-control OutputTextBGColor" html-placeholder="Locale" value="{!mapLocalValAndLabel[commUser.LocaleSidKey]}" rendered="{!isSaved}"/>
                    </div>


                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <label class="control-label " for="country">
                        {!$Label.CM_FieldLabel_CMPUser_Timezone}
                        </label>
                        <apex:inputField Id="TimeZoneSidKey" styleClass="form-control" html-placeholder="Locale" value="{!commUser.TimeZoneSidKey}" rendered="{!!isSaved}"/>
                        <apex:outputText Id="oTimeZoneSidKey" styleClass="form-control OutputTextBGColor" html-placeholder="Locale" value="{!mapTimeValAndLabel[commUser.TimeZoneSidKey]}" rendered="{!isSaved}" style="height:auto!important;"/>
                    </div>
                </div>

            </apex:outputPanel>
                <hr class="iblk" name="sharing" id="sharing"/>
                <h4>{!$Label.CM_Community_Button_ManageProfile_Sharing}</h4>
                <apex:outputPanel id="SharingAndNotification">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="checkbox">
                          <label>
                              <apex:inputCheckbox Id="Sharing" styleClass="form-control" value="{!commUser.Share_Records__c}" style="width: 14px;height: 14px;"  disabled="{!isSaved}"/>
                            {!$Label.CM_SectionText_SharingSettings_AllowOthersSharingAccess}
                          </label>
                        </div>
                    </div>
                    <apex:outputText rendered="{!CollabUser}">
                    <hr class="iblk" name="notifications" id="notifications1"/>
                    <h4>{!$Label.CM_Community_Tab_Notifications}</h4>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="checkbox">
                          <label>
                              <apex:inputCheckbox Id="Notifications" styleClass="form-control" value="{!commUser.CMP_Document_Notification__c}" style="width: 14px;height: 14px;"  disabled="{!isSaved}"/>
                              {!$Label.CM_FieldLabel_Notifications_Documents}
                                <!-- Recieve notifications from account document collaborators -->
                          </label>
                        </div>
                    </div>
                    </apex:outputText>
                </apex:outputPanel>
                <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                </div>  -->

          </div>
          <!-- modal footer -->
          <div class="modal-footer">
            <apex:outputPanel id="ButtonPanel">
                <!--
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-yellow">Save</button>
                -->
                <apex:commandLink styleClass="btn btn-light" html-data-dismiss="modal" value="{!$Label.CM_Community_Button_Close}" action="{!close}" onclick="return false;"/>
                <apex:commandButton styleClass="btn btn-yellow"  value="{!$Label.CM_Community_Button_Save}" action="{!custUpdate}" rendered="{!!isSaved}" rerender="GeneralId,ButtonPanel,AddressId,localInformationId,errMsgs,SharingAndNotification" oncomplete="pageReloadfn({!isSaved});"/>
                <apex:commandButton styleClass="btn btn-yellow"  value="{!$Label.CM_Community_Button_Edit}" action="{!edit}" rendered="{!isSaved}" rerender="GeneralId,ButtonPanel,AddressId,localInformationId,errMsgs,SharingAndNotification,LocaleSidKey">

                </apex:commandButton>
            </apex:outputPanel>
            <script>
                function doSave(){
                    updateRec();
                    return false;
                }
                function pageReloadfn(isSaved) {
                    if(isSaved) {
                        window.location.reload();
                    }
                }
            </script>
            <apex:actionFunction name="updateRec" action="{!custUpdate}" rerender="GeneralId,ButtonPanel,AddressId,localInformationId,errMsgs,SharingAndNotification"/>

          </div><!-- /end modal footer -->

        </div>
      </div>
    </div><!-- /manage profile -->

</apex:component>