<apex:component controller="Debug_Activity_MyInvoicesController"
  allowDML="true" id="cmpImyInvoices">


  <div class="block col-sm-12 mt30 mb30">
    <apex:form id="searchForm">
      <apex:actionFunction name="refreshInvoicesJS"
        action="{!refreshInvoices}"
        rerender="searchResult,currencyDisclamer"
        oncomplete="bindDataTable();return false;" status="statusbar" />
      <apex:actionFunction name="resetAllFilterqqqwq" action="{!refreshInvoices_Fix}"   />
    </apex:form>
  </div>
</apex:component>