<!--
Author       :   Nikhil Sharma(Appirio)
Created Date :   01 Feb'16
Task         :   T-469137
Description  :   LookUp Component to search bene User in active network of current logged in user
-->
<apex:component Controller="BS_CustomLookupCtrl" id="cmp">
    <script>
        var newWin = null;
        var typeNameId = '';
        var selectedId = '';
      //  var searchText = '';
        function openLookupPopup() {
          //  var searchText = '';
            /*
            if(document.getElementById(zTypeNameId)!=null){
                searchText = document.getElementById(zTypeNameId).value;
            }
            */

       //     alert('type:: ' +'{!deliveryType}');
            var url = "{!IF($Site.Prefix != null, URLFOR($Site.BaseCustomUrl+'/'+SUBSTITUTE($Site.Prefix, '/', '')), '')}/apex/BS_OpenLookupPopupBeneficiary?type="+'{!deliveryType}' + "&lookBuyer=" + '{!LookupBuyer}' + "&H2HSearch=" + '{!H2HSearch}';
         //   url = url + "?aId={!$CurrentPage.parameters.aId}&Object=" + '{!objName}' + "&fieldName=" + '{!fieldName}' + "&searchText=" + searchText + "&lookBuyer=" + '{!lookBuyer}';
            /*newWin = window.open(url, 'Popup', 'height=500,width=600,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,status=no');
            if (window.focus) {
                newWin.focus();
            }*/
            $('#buyerFrame').attr("src", url);
            $('#addBuyerCustomLookUp').modal('show');  
        }
        
        window.closeLookUpBuyerModal = function(){
		    $('#addBuyerCustomLookUp').modal('hide');
		};

        function setSelectedRecordId(selectedName,selectedId){
            var fid = '{!fieldPopulatingId}';
            var bId = '{!fieldPopulatingBeneId}';
            document.getElementById(fid).value = selectedName;
            document.getElementById(bId).value = selectedId;
            showNextStep();
        }

        function setSelectedBuyerId(selectedName,selectedId,AccountId){
            var fid = '{!fieldToPopulateId}';
            var bId = '{!FieldPopulatingBuyerId}';
            var aId = '{!FieldPopulatingAccountId}';
            document.getElementById(fid).value = selectedName;
            document.getElementById(bId).value = selectedId;
            document.getElementById(aId).value = AccountId;
        }

        function resetBuyerLookup(beneName,beneId){

        }

        function showNextStep(){
            $('[id$="step3Id"]').show();
            $('[id$="saveButtonId"]').show();
            $('.clearText').val('');
        }

        function resetLookup(beneName,beneId){

            if({!LookupBuyer}) {
            	var fid = '{!fieldToPopulateId}';
	            var bId = '{!FieldPopulatingBuyerId}';
	            var aId = '{!FieldPopulatingAccountId}';
	            document.getElementById(fid).value = '';
	            document.getElementById(bId).value = '';
	            document.getElementById(aId).value = '';
            } else {
            	debugger;
            	document.getElementById(beneName).value = '';
            	document.getElementById(beneId).value = '';
                hideNextStep();
            }
        }

        function hideNextStep(){
            $('[id$="step3Id"]').hide();
            $('[id$="saveButtonId"]').hide();
        }

    </script>

    <apex:attribute name="objectName" type="String" required="true" assignTo="{!objName}" description="API Name of the Object for which Lookup has to be created"/>
    <apex:attribute name="fieldToPopulateId" type="String" required="true" assignTo="{!fieldPopulatingId}" description="Id of the record whose value needs to be populated"/>
    <apex:attribute name="selectedRefId" type="String" required="false" assignTo="{!selectedId}" description="Id for the record already selected"/>
    <apex:attribute name="DeliveryMethod" type="String" required="false" assignTo="{!deliveryType}" description="Delivery Method for Cold Payment"/>
    <apex:attribute name="fieldToPopulateBeneId" type="String" required="false" assignTo="{!fieldPopulatingBeneId}" description="Id of the BeneId whose value needs to be populated"/>
    <apex:attribute name="FieldPopulatingBuyerId" type="String" required="false" assignTo="{!fieldPopulateBuyerId}" description="Id of the BeneId whose value needs to be populated"/>
    <apex:attribute name="LookupBuyer" type="boolean" required="false" assignTo="{!lookBuyer}" description="Id of the BeneId whose value needs to be populated"/>
    <apex:attribute name="FieldPopulatingAccountId" type="String" required="false" assignTo="{!fieldPopulateAccountId}" description="Id of the BeneId whose value needs to be populated"/>
    <apex:attribute name="isOnlyRead" type="boolean" required="false" description="Flag if allowed to update/remove selection" default="false"/>
    <apex:attribute name="isH2HSearch" type="boolean" required="false" assignTo="{!H2HSearch}" description="Flag if we need to filter by whether connections are H2H" default="false"/>

    <apex:outputPanel id="lookupPanel">
    	<button class="btn btn-default" type="button" onclick="openLookupPopup();">{!$Label.EDGE_CustomLookUp_Search_Button}</button>
      <div class="modal fade" id="addBeneModal">
        <div class="modal-dialog">
          <div class="modal-content" style="width:970px !important;">
            <div class="modal-header">

            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">

            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
        <!-- <table border="0" style="border-bottom:0px;padding: 0px 0px 0px 0px;width:100%;" width="100%">
            <tr><td style="border-bottom:0px;padding: 0px 0px 0px 0px;width:100%;" width="100%">

        </td><td style="border-bottom:0px;padding: 0px 0px 0px 0px;display:{!if(isOnlyRead, 'none;', 'block;')}">
        <a id="acc3_lkwgt" onclick="openLookupPopup();" tabindex="2"
            title="Parent Lookup (New Window)" style="text-decoration: none;" >
                <img src="/s.gif" alt="{!$Label.CM_Community_Button_SearchBuyerSupplier}"
                class="lookupIcon" style="zoom: 1.3; margin-top: 2px;"
                onblur="this.className = 'lookupIcon';"
                onfocus="this.className = 'lookupIconOn';"
                onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';"
                onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';"
                title="{!lookupTitle}" />
        </a>

        </td><td>
            <a style="display:{!if(isOnlyRead, 'none;', 'block;')}" href="javascript:resetLookup('{!fieldToPopulateId}','{!fieldToPopulateBeneId}');" ><img alt="{!$Label.CM_Community_Button_DeleteBuyerSupplier}" style="width:20px;" src="/img/func_icons/remove12_on.gif" title="{!deleteTitle}"/></a>
        </td></tr></table> -->
    </apex:outputPanel>
<div class="modal fade" id="addBuyerCustomLookUp">
      <div class="modal-dialog">
        <div class="modal-content" style="width:600px !important;height:700px !important;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">
            <apex:outputText rendered="{!canCreateTransaction}" value="{!$Label.CMP_Submit_Invoice_SC}"/>
            <apex:outputText rendered="{!!canCreateTransaction}" value="{!$Label.EDGE_Manage_Buyer_supplier}"/>
            </h4>
          </div>
          <div class="modal-body" style="height:650px !important;">
          	<iframe frameborder="no" height="100%" scrolling="yes" id="buyerFrame" name="buyerFrame"
				 width="100%" />
          </div>
          <div class="modal-footer">

          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</apex:component>