<!--
Author       :   Priyanka Kumar(Appirio)
Created Date :   27th May'16
Name         :   EDGE_BeneficiaryMngmntComponent
Task         :   T-506459
Description  :   Same UI as VF page MakePaymentStep1 but without the payment items.
-->

<apex:component controller="Edge_SupplierSearchComponentCtrl">
    

    <apex:form id="formId">
        <div class="block" style="min-height: 75px">
          <div class="col-lg-6">
            <div class="input-group">
              <apex:inputText value="{!searchTxt}" id="theTextInput" html-placeholder="Search" styleClass="form-control"/>
                  <span class="input-group-btn">
                    <apex:commandButton styleClass="btn btn-yellow-input" style="margin-left:15px;margin-bottom:5px;"   value="{!$Label.CM_Community_Button_Search}" action="{!search}" oncomplete="" rerender="formId" status="status"/>
                  </span>&nbsp;&nbsp;
                  <span class="input-group-btn">
                    <!--<button class="btn btn-yellow-input" type="button" onclick="doRefresh();">{!$Label.CM_Community_Button_Refresh}</button>-->
                    <apex:commandButton styleClass="btn btn-yellow-input" style="margin-bottom:5px;"  value="{!$Label.CM_Community_Button_Refresh}" action="{!refresh}"  rerender="formId" status="status"/>
                  </span>
            </div>
          </div>
         </div>
        <apex:actionstatus id="status" onstart="progressbarBSMsg('{!$Label.CM_Community_Text_PleaseWait}');showProgressbarBS(true);" onstop="showProgressbarBS(false);"/>
        <apex:outputPanel id="resultsTable">
            <div class="iblk block">
              <h3 class="block-header">{!$Label.Edge_Table_Header_Company_Information}</h3>&nbsp;&nbsp;&nbsp;
           <a class="btn btn-yellow" href="{!$Site.Prefix}/EDGE_Beneficiary?retUrl={!$CurrentPage.URL}">{!$Label.Add_New}</a> 
              <br/>
              <br/>
              <div class="col-lg-12">
                <table class="table table-edge" cellspacing="0" width="100%" id="supplierResult">
                  <thead class="bg-grey text-uppercase">
                    <tr>
                      <th>{!$Label.CM_Tableheader_CalltoAction_CompanyName}</th>
                      <th>{!$Label.CM_NetworkResults_TableHeader_Address}</th>
                      <th>{!$Label.CM_FieldLabel_Attachments_Action}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <apex:repeat value="{!listSuppliers}" var="supplier">
                        <tr>
                            <td>{!supplier.name}</td>
                            <td>{!supplier.address}</td>
                            <td class="action">
                                 <!--{!netWrpr.net.Id}-->
                                <div class="dropdown actions-container divRemover" style="margin-left:25px;">
                                  <span class="menu-drop dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h divRemoverMethodCall"></i></span>
                                  <ul class="dropdown-menu pull-right actions">
                                     <li>
                                        <apex:outputPanel layout="none">
                                          <a id="editBtn"  href="" data-toggle="modal">{!$Label.CM_Community_Button_Edit}</a>
                                        </apex:outputPanel>
                                    </li>
                                  </ul>
                                </div>
                          </td>
                        </tr>
                    </apex:repeat>
                  </tbody>
                </table>
              </div><!-- /table -->
    
            </div>
        </apex:outputPanel>
             <script>
            $(document).ready( function () {
              $('#supplierResult').DataTable({
                  columns: [
                    null,
                    null,
                    { "orderable": false}
                  ],
                  "bFilter": false,
                  
              "language": {
                "decimal": "",
                "emptyTable": "{!$Label.CM_Edge_DataTable_NoDataAvailable}",
                "info": "{!$Label.CM_Edge_Pagination_Showing} _START_ to _END_ of _TOTAL_ {!$Label.CM_Edge_Pagination_Entries}",
                "infoEmpty": "{!$Label.CM_Edge_DataTable_Showing0Entries}",
                "infoFiltered": "({!$Label.CM_Edge_DataTable_FilteredFrom} _MAX_ {!$Label.CM_Edge_DataTable_TotalEntries})",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "{!$Label.CM_Edge_Pagination_Show} _MENU_ {!$Label.CM_Edge_Pagination_Entries}",
                "loadingRecords": "{!$Label.CM_Edge_DataTable_Loading}",
                "processing": "{!$Label.CM_Edge_DataTable_Processing}",
                "search": "{!$Label.CM_EDGE_CustomLookUp_Search_Button}:",
                "zeroRecords": "{!$Label.CM_Edge_DataTable_NoRecordFound}",
                "paginate": {
                "first": "{!$Label.CM_Community_Button_First}",
                "last": "{!$Label.CM_Community_Button_Last}",
                "next": "{!$Label.CM_Community_Button_Next}",
                "previous": "{!$Label.CM_Community_Button_Previous}"
                },
                "aria": {
                "sortAscending": ": {!$Label.CM_Edge_DataTable_ActivateSortASC}",
                "sortDescending": ": {!$Label.CM_Edge_DataTable_ActivateSortDESC}"
                }
            }

                });
        
          } );
      </script>
     </apex:form> 
     

</apex:component>