<apex:component controller="EdgeDashboardHoldingsController">
    <!--<apex:variable var="c" value="{!canShowHoldingBalance}" rendered="{!!canShowHoldingBalance}" >
        <div class="disabled cover flex-vertical">
            <div class="banner flex-horizontal">{!$Label.CM_EDGE_ACTION_Become_WUBS_customer}</div>
        </div>
    </apex:variable>-->
    <!-- cash holding -->
      <div class="block iblk col-sm-12 mt30 mb30">
        <!-- toggle below div for "become a customer" notification over widget -->


        <h3 class="block-header" id="HoldingLabel">{!$Label.CM_EDGE_SectionHeading_WUBSHoldingBalance}</h3>
        <div class="col-xs-12 col-md-7">
          <!--<h5 class="mt30 mb30">{!$Label.CM_EDGE_SectionText_WUBSHoldingBalance}</h5>-->
          <div class="flex-horizontal mb20">
            <center>
               <apex:variable var="c" value="{!canShowHoldingBalance}" rendered="{!canShowHoldingBalance}" >
                    <a class="btn btn-yellow mt15" href="{!IF($Site.Prefix != null,URLFOR($Site.BaseCustomUrl+'/'+SUBSTITUTE($Site.Prefix, '/', '')), '')}/EDGE_Holding_Balance_Management">{!$Label.CM_EDGE_Button_ManageHoldings}</a>
                </apex:variable>

            </center>
          </div>
          <!-- <apex:pageMessages rendered="{!isError}"/> -->
          <apex:outputPanel rendered="{!isError}" id="errMsgs">
            <b style="color: red; font-size: medium;"> {!$Label.CM_Alert_Error}: </b> <apex:outputText value="{!errMsg}"/>
          </apex:outputPanel>
          
          <!-- Marc Powell Aug-4, 2016: EDGE Demo Environment Only
          <apex:outputPanel rendered="{!$Label.CM_EDGE_Button_ManageHoldings_DemoFlag == 'TRUE'}">
           <! -- <strong>{!$Label.CM_EDGE_Button_ManageHoldings_DemoMessage}</strong> -- >
            <img src="{!$Label.CM_EDGE_Button_ManageHoldings_DemoImage}" width="615" height="497" alt="" />
          </apex:outputPanel>
          -->
          
          <div class="flex-horizontal mb20" style="flex-wrap: wrap;">
           <apex:variable var="c" value="{!canShowHoldingBalance}" rendered="{!canShowHoldingBalance}" >
            <apex:repeat value="{!listResponse}" var="res">
               <apex:variable var="colorCode" value="{!mapCurrencyAndColor[res.currency1]}">
                <div>
                  <div class="circle-xl flex-vertical" style="border-color:{!colorCode}; border-style:solid;border-width:thick;margin-bottom: 15px;">
                    <span class="text-uppercase">
                      <!-- <i class="fa fa-cc-visa"></i>  -->
                      <apex:image url="{!URLFOR($Resource.CurrencyFlags,'CurrencyFlags/'+mapCurrencyAndFlag[res.Currency1])}" width="30" height="30"/>
                       {!res.currency1}</span>
                    <span class="amount" style="font-size:1.3em;">
                                        <apex:outputText value="{0, number, #,##0.00}">
                                        <apex:param value="{!res.bookBalance}" />
                                      </apex:outputText>
                                    </span>
                    <!--
                    <span class="amount" style="font-size:1em;color:rgb(155, 161, 162);">
                                        (<apex:outputText value="{0, number, #,##0.00}">
                                        <apex:param value="{!res.availableBalance}" />
                                      </apex:outputText>)
                                    </span>
                    -->
                  </div>
                </div>
                </apex:variable>
            </apex:repeat>
            </apex:variable>
            <apex:variable var="c" value="{!canShowHoldingBalance}" rendered="{!!canShowHoldingBalance}" >
                <div>
                 <div class="circle-xl flex-vertical">
                   <span class="text-uppercase"><i class="fa fa-cc-visa"></i> EUR</span>
                   <span class="amount">0</span>
                 </div>
                </div>
                <div>
                 <div class="circle-xl flex-vertical">
                   <span class="text-uppercase"><i class="fa fa-cc-visa"></i> YPN</span>
                   <span class="amount">0</span>
                 </div>
                </div>
            </apex:variable>
          </div>
        </div>

        <div class="col-xs-12 col-md-5">
          <div class="block-dark">
            <h5 class="text-uppercase">{!$Label.CM_Edge_Content_Label_Avoid_Fees}</h5>
            <h5 class="mb20">{!$Label.CM_Edge_Content_Label_PayCashH2H}</h5>
            <p>{!$Label.CM_Edge_Content_Label_PayingBeneFeeFree}</p>
            <p>{!$Label.CM_Edge_Content_Label_SettingUpHB}</p>
            <div class="flex-horizontal mb20">
              <div class="flex-vertical">
                <div class="circle-sm">
                </div>
                <span class="mt10 text-uppercase">Holding</span>
                <span class="text-uppercase">USD</span>
              </div>
              <div class="flex-vertical">
                <p>{!$Label.CM_Edge_Content_Label_No_fees}</p>
              </div>
              <div class="flex-vertical">
                <div class="circle-sm">
                </div>
                <span class="mt10 text-uppercase">Holding</span>
                <span class="text-uppercase">USD</span>
              </div>
            </div>
          </div>
        </div>
      </div>
</apex:component>